#titulo {
    color: black;
    background-color: lightgreen;
    padding-left: 0%;
    background-image: none;
}

* {
    text-align: center;
}

.container {
    display: flex;
    margin: 2rem;
}

#tarjetas {
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 20rem;
    margin: 1rem;
}

.headertarjetas {
    margin: 0%;
}

.titulotarjetas {
    font-size: medium;
    background-color: lightgreen;
}

.main {
    display: flex;
    flex-wrap: wrap;
}

.centro {
    width: 200%;
    background-color: beige;
    display: grid;
}

.izquierda {
    width: 50%;
    background-color: beige;
    display: grid;
}

.derecha {
    width: 50%;
    background-color: beige;
    display: grid;
}

.abajo {
    width: 100%;
}

.footertarjetas {
    margin: 0%;
    background-color: lightgreen;
}