#app {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-style: initial;
    font-weight: bolder;
}

#app2 {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-style: initial;
    font-weight: bolder;
    font-variant: unset;
}

.form-control-lg {
    margin: 1rem;
}

.btn-outline-primary {
    margin-left: 1rem;
}