*{
	margin: 0;
	padding: 0;
}

h1 {
	display: none;
}

/*  */
.usuario, .ayuda{

	padding: 0.3rem;
}
.container {
	margin-top: 2rem;
}

.btn {
	color: black;
	background-color: #16B598;	
}

#volver {
	background-color: #F89C1F;
}

.btn:hover, #volver:hover{
	color: white;
	border-color: #6F42C1;
	background-color: #6F42C1;
}

@media screen and (max-width: 768px) {
	
	table {
		margin-top: 1rem;
		width:100%;
	}
	thead {
		display: none;
	}

	tr td:first-child {
		background: #f0f0f0;
		font-weight:bold;
		font-size:1.3em;
	}

	tbody td {
		display: block;
		text-align:center;
	}
	
	h2{
		display: none;
	}
	h1 { 
		text-align: center;
		display: block;
	}
}
footer {
    background-color: #222;
    padding: 1rem;
    color:#fff;
	max-height: 80px;
	margin-top: 150px;
}
footer section {
    float:right;
	margin:0;
}

footer a{
    transition: color 0.3s ease;
    color:#fff;
    text-decoration: underline;
}

footer a:hover{
    color:cornflowerblue;
}

footer p:nth-child(2){
	text-align: center;
	text-decoration: solid;
	/* margin-top:1rem; */
}
footer p:nth-child(3){
	text-decoration:underline;
	color:gray;
}






























