*{
    margin: 0;
    padding: 0;
}
.cpright{
    background-color: rgba(33,37,41, 1);
    text-align: center;
}
.content-footer{
	margin-top: 5rem;
    background-color: rgba(33,37,41, 0.9);
}
.linkdn{
    margin: 0 6rem;
    text-align: center;
}

ul li a{
    text-decoration: none;
}


@media screen and (max-width: 768px){
    .linkdn, .container{
        display: none;
    }
}