*{
	margin: 0;
	padding: 0;
}
h1 {
    color: white;
	font-family: lexend;
	font-style: bond;
	font-size: 50px;
	line-height: 88px;
}
#section{
	display: flex;
	justify-content: space-between;
	height: 45rem;
}
#bienvenida {
	background-position: letf;
	padding: 70px 30px;
	float: left;
}

/*estilo de titulos h2 y h3)*/
h2, h3 {
	color: #16B598;
	font-family: 'inconsolata';
	font-style: normal;
	font-weight: 700;
	font-size: 45px;
	line-height: 47px;
	text-align: center;
}

.dibujologin {
	width: 120%;
}

#datos {
	background-color: rgba(0, 0, 0, 0.69);
	background-size: cover;
	width: 40%;
	height: 800px;
	padding-top: 5%;
}

#titulodatos {
	font-family: 'inconsolata';
	font-size: 40px;
	line-height: 30px;
	text-align: center;
	margin: 0 0 55px 0;
}
.container {
	margin-top: 4rem;
	width: 80%;
}

.barra {
	background-color: white;
	border-radius: 6px;
	border: solid 1px #198754;
	width: 100%;
	
}

.ingresar {
	background-color: #F89C1F;
	border-radius: 17px;
	color: white;
	border: solid 1px white;
	width: 100%;
}

p {
	color: white;
}

article a {
	color: white;
	text-align: center;
	text-decoration: none;
}

#celular {
	display: flex;
	background-color: rgba(255, 255, 255, 0.904);
	width: 90%;
	margin-top: 6rem;
	margin-left: 2rem;
	border-radius: 6px;
}

.iconocelular {
	margin: 2rem 1rem;
	height: 10%;
	width: 15%;
}

.textocelular {
	color:rgba(0, 0, 0, 0.69);
	font-style: justify;
	font-family: 'inconsolata';
	font-weight: 1000;
	margin: 20px 20px 20px 10px;
}


@media screen and (max-width: 768px) {
	#bienvenida{
		display: none;
	}
	#datos {
		background-color: rgba(0, 0, 0, 0.69);
		background-size: cover;
		width: 100%;
		padding-top: 5%;
	}
	.HB{
		display: none;
	}
	.iconos {
		display: none;
	}
}

